body {
    font-family: 'Libre Franklin', sans-serif;
    background-color: #ebebeb;
}

h2 {
    font-size: 2.4rem;
}

h2 span {
    font-size: 4rem;
}

h2,
h3 {
    color: black;
    line-height: 2.4rem;
}

h3 {
    font-size: 1.5rem;
}

h3 span {
    font-size: 2rem;
}

h2 span,
h3 span {
    display: block;
    color: rgb(153, 149, 129);
}

.logo {
    height: 120px;
}

.portada {
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.texto1 {
    padding-top: 10%;
    padding-left: 6%;
    padding-bottom: 15%;
    padding-right: 6%;
}

.navigation {
    background-color: #fffef8;
}

nav.main-nav .nav-item {
    transition: background-color .3s ease;
    border-radius: 10px;
}

nav.main-nav .nav-item:hover {
    background-color: rgb(202, 200, 191);
    border-radius: 10px;
}

nav.main-nav .nav-link {
    font-size: 1.2rem;
    color: #000;
}

.carousel .carousel-caption h3 {
    font-size: 1.6rem;
}

.new-website p {
    font-size: 1.6rem;
    color: rgb(153, 149, 129);
}

.servicios {
    background-color: #fff;
}

.image-links img {
    border: 2px solid rgb(153, 149, 129);
    height: 250px;
    width: 350px;
    /* QUITAR CUANDO LAS IMAGENES TENGAS EL MISMO TAMANO */
    transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    -ms-transition: transform .3s ease;
}

.image-links img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.image-info {
    background-color: #fff;
    margin-top: -50px;
    padding-left: 0;
    padding-right: 0;
}

.image-info .btnmodals {
    border: none;
    border-radius: 0;
}

.bg-process {
    background-image: url('https://static8.depositphotos.com/1337050/866/i/950/depositphotos_8669636-stock-photo-decision-flowchart.jpg');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}

.our-process {
    background-color: #6c757d;
    color: #fff;
}

.our-process h2 {
    color: #fff;
}


/* 
@media screen and (min-width: 500px) {
    img {
        width: 30%;
    }
    #content {
        padding: 15%;
    }
} */